[package]
name = "geopolars"
version = "0.1.0-alpha.1"
edition = "2021"
authors = ["Kyle Barron <kylebarron2@gmail.com>", "Stuart Lynn"]
description = "Geospatial extensions for Polars"
documentation = "https://docs.rs/geopolars"
readme = "../README.md"
repository = "https://github.com/kylebarron/geopolars"
license = "MIT"
exclude = ["cities.arrow"]
rust-version = "1.60"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
proj = ["dep:proj"]

[dependencies]
geozero = { version = "0.9.4", features = ["with-wkb"] }
rstar = "0.9.3"
geo = { git = "https://github.com/georust/geo.git", rev = '578e213875915e1f895892487b5a36ca0d91fac3' }
polars = { version = "0.22.8", features = ["ipc", "dtype-u8", "dtype-i8"] }

proj = { version = "0.27.0", optional = true, features = ["geo-types", "bundled_proj"]}
